PORT=7000
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=studygram
DB_PORT=3306
  
# Firebase Config for Push Notifications  
FIREBASE_PROJECT_ID=your_project_id  
FIREBASE_CLIENT_EMAIL=your_client_email@your_project.iam.gserviceaccount.com  
FIREBASE_PRIVATE_KEY=" -----BEGIN PRIVATE KEY-----\nyour_key\n-----END PRIVATE "KEY-----\n 
